@{
    Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Edit Machine</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.Model)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Model)
  @Html.EditorFor(model => model.Model)

  @Html.LabelFor(model => model.State)
  @Html.DropDownList(model => model.State,
          new SelectList(Enum.GetValues(typeof(States))))
      
  @* <select name ="model.State">
    <option value="operational">operational</option>
    <option value="malfuction">malfuction</option>
    <option value="under repair">under repair</option>
  </select> *@
  
  <input type="submit" value ="Save" />
}

<p>@Html.ActionLink("Back to machines", "Index")</p>