@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Add facility</h2>

<h4>Add a facility to engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select location")
  @Html.DropDownList("LocationId")
  <input type="submit" value="Add facility" />
}

<p>@Html.ActionLink("Back to engineers", "Index")</p>