@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Machines.Count == 0)
{
  <p>Specialist not assigned to any machines</p>
}
else
{
  <h4>Specialties:</h4>
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li>@join.Machine.Model</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
      {
        @Html.Hidden("joinId", @join.MachineEngineerId)
        <input type="submit" value="Remove" />
      }
  }
  </ul>
}

@if(@Model.Locations.Count == 0)
{
  <p>Specialist not assigned to a facility</p>
}
else
{
  <h4>Facilities:</h4>
  <ul>
  @foreach(var join in Model.Locations)
  {
    <li>@join.Location.Facility</li>
    @using (Html.BeginForm("DeleteLocation", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerLocationId)
        <input type="submit" value="Remove" />
      }
  }
  </ul>
}

<p>@Html.ActionLink("Add machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("See engineers", "Index")</p>
